name: Build and Run Integration Tests

run-name: ${{ github.actor }} is building and testing OpenHIIT

on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]
    branches: [main, pre-release]
    paths:
      - 'lib/**'
      - 'test_driver/**'
      - 'integration_test/**'
      - 'pubspec.yaml'
      - 'pubspec.lock'
      - 'android/**'
      - 'ios/**'

jobs:
  prepare-emulator:
    runs-on: ubuntu-latest
    env:
      ANDROID_EMULATOR_WAIT_TIME_BEFORE_KILL: 180
    steps:
      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v3
        
      - name: Cache AVD
        id: avd-cache
        uses: actions/cache@v4
        with:
          path: ~/.android/avd
          key: avd-35

      - name: create AVD and generate snapshot for caching
        if: steps.avd-cache.outputs.cache-hit != 'true'
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 35
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: false
          script: echo "Generated AVD snapshot for caching."

  run-tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        test_file:
          - simple_test.dart
          - advanced_test.dart
          - restart_rounds_test.dart
          - load_test.dart
          - interval_adjust_test.dart
          - edit_timer_test.dart
    env:
      ANDROID_EMULATOR_WAIT_TIME_BEFORE_KILL: 180
    steps:
      - name: checkout
        uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Create test script
        run: |
          cat <<EOF > scripts/test.sh
          #!/bin/bash
          echo "Running test: ${{ matrix.test_file }}"
          flutter build apk --target integration_test/${{ matrix.test_file }} --debug
          bash scripts/wait_for_pm.sh
          adb -s emulator-5554 install build/app/outputs/flutter-apk/app-debug.apk
          adb -s emulator-5554 root
          adb -s emulator-5554 shell appops set com.codepup.workout_timer SCHEDULE_EXACT_ALARM allow
          flutter drive -d emulator-5554 --no-pub \
            --driver=integration_test/driver.dart \
            --use-application-binary=build/app/outputs/flutter-apk/app-debug.apk
          EOF

          chmod +x scripts/test.sh

      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Gradle cache
        uses: gradle/actions/setup-gradle@v3
        
      - name: Fetch Cache AVD
        id: avd-cache
        uses: actions/cache@v4
        with:
          path: ~/.android/avd
          key: avd-35

      - name: Run integration tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 35
          arch: x86_64
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          disable-animations: true
          script: scripts/test.sh
